---
allowed-tools: Bash(git:*), Read(*.md), Read(*.ts), Read(*.js), Read(*.scala), Read(*.tf), Read(*.json), Read(*.yml), Read(*.yaml), Read(*.sql)
description: "アプリケーション全体の構造を確認して理解する"
---

アプリケーション全体の構造を確認して内容を理解してください。
